.menu-list {
    width: 224px;

    .menu-box {
        padding: 10px 0px;

        .menu-item {
            display: block;
            margin-left: 0px;
            width: 100%;
            text-align: left;
            border-radius: 0px;

            &:hover {
                background-color: rgba(var(--gray-color-rgb), 0.05);
            }
        }
    }
}
