.wrapper {
    --search-border-radius: 92px;
    --search-height: 46px;
    --search-button-width: 52px;
    --search-width: 361px;

    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px var(--default-layout-horizontal-spacer);
}

// Actions
.action {
    min-width: 280px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.action-btn {
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;
    position: relative;
}

.more-button {
    font-size: 2rem;
    margin-left: 20px;
    padding: 4px 20px;
    background-color: transparent;
    cursor: pointer;
}
.message {
    width: 22px;
    height: 18px;
    position: absolute;
    top: 0px;
    right: 5px;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.8rem;
    background-color: var(--primary-color);
    border-radius: 999px;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 14px;
    cursor: pointer;
}
