.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    width: var(--default-layout-width);
    max-width: 100%;
    min-height: 1000px;
    margin-top: var(--default-layout-header-height);
    padding: 0px;
}

.content {
    flex: 1;
    background-color: var(--white-color);
    min-height: 1000px;
    text-align: center;
    padding-top: var(--default-layout-padding-top);
}
