.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: var(--default-layout-width);
    min-height: 1000px;
    display: flex;
    padding: 0px var(--default-layout-horizontal-spacer);
}

.content {
    width: 100%;
}
