.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    width: var(--default-layout-width);
    min-height: 1000px;
    display: flex;
    margin-top: 3px;
}

.content {
    flex: 1;
    background-color: #edeaea;
    min-height: 1000px;
}
